*{
     padding: 0;
     margin: 0;
     text-decoration: none !important;
     list-style-type: none;
     box-sizing: border-box;
}


.index-header{
     padding: 1rem 2rem;
     display: flex; 
     align-items: center;
     background: #ff6700;
justify-content: space-between;
}
.header-tittle{
color: white;
font-family: 'Dancing Script', cursive;
font-weight: 900;
}
.links{
display: flex;
gap: 2rem;
align-items: center;
}
.links a{
color: white;
font-size: 1.5rem;
font-family: 'Roboto Flex', sans-serif;
font-weight: 800;
}
.links li a:hover{
     color: gray;
}
.user-section{
     display: flex;
     justify-content: space-evenly;
     gap: 2rem;
}
.user-link svg{
     color: white;
     height: 1.5rem;
}
.user-link svg:hover{
     color: gray;   
}
.home-section{
     background: #ff6700;
     padding-top: 4rem;
}
.row{
     display: flex;
     align-items: center;
}
.left{

}
.home-head{
font-family:  'Amatic SC', cursive;
font-size: 8rem;
font-weight:900;
color: white;
}
.home-p{
color: white;
font-family: 'Roboto Flex', sans-serif;
font-size: 1.5rem;
}
.right{
position: relative;
}
.fruit{
     width: 50%;
     height: 15vw;
     position: absolute;
     bottom: 0;
     right: -25%;
}